# Python virtual environments
venv/
venv312/
venv_ml/

# Environment and secret files
.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.temp

data/images/
